# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
*.iml
.vscode/
.settings/
.project
.classpath
*.launch
out/

# Runtime
run/
logs/

# OS
.DS_Store
Thumbs.db

# Mise
mise.toml
